<a href="https://colab.research.google.com/github/HarishRaagavendar/Pyspark/blob/main/PysparkTut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [19]:
from pyspark.sql import SparkSession
import pandas as pd

In [20]:
spark=SparkSession.builder.appName("Dataframe").getOrCreate()

Read the dataset

In [21]:
df_spark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [22]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [40]:
df_spark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [34]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [35]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [26]:
df_spark.select(["Name","Experience"]).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [29]:
df_spark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [41]:
df_spark=df_spark.withColumn("after 2 yrs",df_spark['Experience']+2)

In [42]:
df_spark=df_spark.withColumnRenamed('after 2 yrs','2 yrs gap')

In [43]:
df_spark.show()

+---------+---+----------+------+---------+
|     Name|age|Experience|Salary|2 yrs gap|
+---------+---+----------+------+---------+
|    Krish| 31|        10| 30000|       12|
|Sudhanshu| 30|         8| 25000|       10|
|    Sunny| 29|         4| 20000|        6|
|     Paul| 24|         3| 20000|        5|
|   Harsha| 21|         1| 15000|        3|
|  Shubham| 23|         2| 18000|        4|
+---------+---+----------+------+---------+

In [44]:
df_spark.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string, Salary: string, 2 yrs gap: string]