<a href="https://colab.research.google.com/github/HarishRaagavendar/Pyspark/blob/main/PysparkTut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [35]:
from pyspark.sql import SparkSession

In [22]:
spark=SparkSession.builder.appName("Dataframe").getOrCreate()

Read the dataset

In [23]:
df_spark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [24]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [25]:
df_spark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [33]:
df_spark.show()

AttributeError: ignored

In [8]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [27]:
df_spark.select("Name").show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [28]:
df_spark=df_spark.withColumn("after 2 yrs",df_spark['Experience']+2)

In [29]:
df_spark=df_spark.withColumnRenamed('after 2 yrs','2 yrs gap').show()

+---------+---+----------+------+---------+
|     Name|age|Experience|Salary|2 yrs gap|
+---------+---+----------+------+---------+
|    Krish| 31|        10| 30000|       12|
|Sudhanshu| 30|         8| 25000|       10|
|    Sunny| 29|         4| 20000|        6|
|     Paul| 24|         3| 20000|        5|
|   Harsha| 21|         1| 15000|        3|
|  Shubham| 23|         2| 18000|        4|
+---------+---+----------+------+---------+